body{
	font-family:Calibri, Tahoma, Arial
	
}

.TabControl{
	width:100%;
	overflow:hidden;
	height:100%
}

.TabControl #header{
	width:100%;
	border: solid 1px;
	overflow:hidden;
	cursor:hand;
}

.TabControl #content{
	width:100%; 
	border: solid 1px;
	overflow:hidden; 
	height:750px;
}

.TabControl .abas{
	display:inline;
}

.TabControl .abas li{
	float:left
}



.aba{
	width:150px;
	height:30px;
	border:solid 1px; 
	border-radius:5px 5px 0 0;
	text-align:center; 
	padding-top:5px; 
	background: #ccee55;
}

.ativa{width:150px; 
	height:30px; 
	border:solid 1 px; 
	border-radius:5px 5px 0 0;
	text-align:center; 
	padding-top:5px; 
	background: #88bb44;
}

.ativa span, .selected span{
	color:#fff
}

.TabControl #content{
	background: #88bb44;
}

.TabControl .conteudo{
	width:100%;
	height:100%;
	background: #88bb44; 
	display:none;
	color:#fff
}

.selected{
	width:150px; 
	height:30px; 
	border:solid 1 px; 
	border-radius:5px 5px 0 0;
	text-align:center; 
	padding-top:5px; 
	background: #88bb44;
}

.corpoDocumento{
	display: inline-flex;
}

@media (max-width:  640px){
	.aba{
		width: 100%;
	}

	li{
	width: 25%;
	}
}
